@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.detail-contact-container {
  max-width: 550px;
  height: auto;
  padding: 20px;
  background-color: $mainDark;

  @media screen and (max-width: 767px) {
    min-width: 330px;
    padding: 10px;
  }
  @media screen and (max-width: 576px) {
    min-width: 170px;
    align-items: center;
  }

}