@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.contacts-container {
  width: 230px;
  height: auto;
  margin-right: 20px;
  padding-bottom: 10px;
 
  @media screen and (max-width: 992px) { 
    margin-right: 5px;
  }
  @media screen and (max-width: 768px) { 
    margin-right: 5px;
  }
  @media screen and (max-width: 576px) {
    width: 140px;
  }
}